// Source: Cosy Autumn Color Swatches Color Palette (link in references.md) (I only use the code of the colors)
$autumn-dark-brown:#6D2F29;
$autumn-dark-yellow:#A37025;

$autumn-dark-orange:#A65B35;
$autumn-light-orange:#DA814E;
$autumn-orange:#F79917;

$autumn-red:#902A02;

$autumn-light:#E2C397;

$autumn-text-dark:#3A130A;
$autumn-text-light:#B78E71;
